@media only screen and (max-width: 600px) {
    html{
        scrollbar-color:black;
    }
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
.seccion-videojuegos {
  /* Establece tu imagen de fondo con la TV aquí */
  background-image: url('../img/room.jpg');
  background-size: cover; /* o contain, o un valor específico */
  background-position: center center;
  background-repeat: no-repeat;
  position: relative; /* Muy importante para posicionar el iframe relativo a esta sección */
  width: 100%; /* O el ancho que necesites */
  height:100vh; /* O una altura que se ajuste a tu diseño y la imagen */
  overflow: hidden; /* Para que nada se salga del contenedor */
}

.tv-screen-container {
  border-radius: 15px;
  position: absolute; /* Posiciona este contenedor sobre la imagen de fondo */
  top: 44.6%; /* Ajusta verticalmente (ej. 35% del contenedor padre) */
  left: 64%; /* Ajusta horizontalmente (ej. 50% del contenedor padre) */
  width: 45%; /* Ajusta el ancho (ej. 25% del contenedor padre) */
  height:17%; /* Ajusta la altura (ej. 20% del contenedor padre) */
  transform: translate(-50%, -50%); /* Centra el elemento si usas left: 50%; top: 50%; */
  
  /* Puedes añadir un pequeño borde si quieres simular el marco de la pantalla */
  /* border: 2px solid #333; */
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); */ /* O un brillo sutil */
}

.tv-screen-container iframe {
  width: 100%; /* El iframe ocupa el 100% del contenedor .tv-screen-container */
  height: 100%;
  display: block; /* Elimina espacio extra que algunos navegadores añaden */
}


@media only screen and (width: 375px) {
    body{
        background-image: url(../img/places.jpg);
    }
    .tv-screen-container {
        top: 45.6%; /* Ajusta verticalmente (ej. 35% del contenedor padre) */
        left: 64%; /* Ajusta horizontalmente (ej. 50% del contenedor padre) */
        width: 45%; /* Ajusta el ancho (ej. 25% del contenedor padre) */
        height:17%; /* Ajusta la altura (ej. 20% del contenedor padre) */
    }
}}

