@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Jersey+10&display=swap');

@media only screen and (max-width: 600px) {
    html{
        scroll-behavior: smooth;
    }
  .desktop {
    display: none;
  }
  /*mobile styles*/
  * {
    font-family: "Jersey 10", sans-serif;
    font-style: normal;
    font-weight: 300;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --backColor: #12807f;
    --borderWindow:#8a8787;
  }
  article .boxes {
    color: #ffff !important;

  }
  article .boxes a{
    text-decoration: none;
  }
  article .boxes img{
    height:100%;
    width: 100%;
  }
  body {
    background-color:var(--backColor);
    min-height: 100vh;
  }
  .Window{
    height: auto;
    border-right: 30px solid var(--borderWindow);
    border-bottom: 30px solid var(--borderWindow);
    border-left: 30px solid var(--borderWindow);
    min-height: 100vh;    
  }
  .Window .controllers{
    background-color: var(--borderWindow);
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 30px;
  }
 .Window .controllers button{
    color: #070707;
    border-color: black;
    background-color: #c6c6c6;
    height: 25px;
    width: 25px;
 }
  .titleContainer{
    text-align: center;
    font-size: 2em;
    width: 100% ;
    background-color: #001057;
    color: #ffff;
 }
 .titleContainer2{
    width: 100% ;
    color: #0e0e0e;   
 }
  body .mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #070707;
  }
 
  body .mobile img {
    display: block;
    margin: auto;
    height: 100px;
    width: 160px;
    padding-top: 5%;
  }

  .container1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "box1  box2    box3";
    height: 25vw;
    width: 100%;
    padding: 0% 2%;
    gap: 15px;
    margin-bottom:15%;
  }
  .box1 {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: box1;
  }
  .box2 {
    background-size: cover;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: box2;
  }
  .box3 {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: box3;
  }

  .container2 {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: "box4  box5 box6";
    height: 25vw;
    width: 100%;
    padding: 0% 2%;
    gap: 15px;
  }
  .titles p{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 5%;
    color: #ffff;
    text-decoration: none;
  }
  .titles a p{
    text-decoration: none;
    color: #ffff;
  }
  .box4 {
    border: 1px solid black;
    grid-area: box4;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box5 {
    border: 1px solid black;
    grid-area: box5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box6 {
    border: 1px solid black;
    grid-area: box6;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dashboard {
    margin-top: 10%;
  }
  #box1Image {
    width: 25vw;
    height: 25vw;
  }
  .info {
    margin-top: 10%;
    color: #ffff;
    font-size: 1.2em;
    text-align: center;
  }
  .starting{
    margin-top: 5%;
    color: #ffff;
    font-size: 1.2em;
    text-align: center;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 45%;
    height: fit-content;
    color: #ffff;
  }
  footer #instaLogo{
    margin:15% 0%;
    height:40px;
    width: 100%;
  }
  footer  .fa-instagram{
    color: aliceblue;
    font-size: 2em;
  }
  
}

/*GENERAL STYLES*/
/* *{
    --backgroundColor:#191717be;
     margin: 0;
    padding: 0;
}
body .mobile img{
    display: none;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}

body header{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    padding: 2% 0%;
    height:180px;
}
body header p{
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 2em;
    color: #9B2D78;
    font-weight:600;
}

article{
    height: auto;
    width: 100%;
}
article .container1{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-areas: "box1 box2 box3" ;
    padding: 0% 2%;
}
article .container2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "box4 box5" ;
        padding: 0% 2%;
}

article .container1 .box1{
    grid-area: box1;
    background-color: aqua;
}
article .container1 .box2{
    grid-area: box2;
    background-color: brown;
}
article .container1 .box3{
    grid-area: box3;
    background-color: coral;
}

article .container2 .box4{
    grid-area: box4;
    background-color: blue;
}
article .container2 .box5{
    grid-area: box5;
    background-color: green;
} */
