<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Places</title>
    <link rel="stylesheet" href="../css/places.css" />
  </head>
  <body>
    <article>
      <div class="container">
        <div class="title">
          <h1>My favorite places</h1>
        </div>
        <div class="photosContainer">
          <div class="photo">
            <img id="img1" src="../img/places/retroCafe.jpg" alt="image1" srcset="" />
            <div class="PhotoFooter1">
              <p>Retro Cafe</p>
            </div>
          </div>
          <div class="photo2">
            <img id="img2" src="../img//places/City.jpg" alt="image2" srcset="" />
            <div class="PhotoFooter2">
              <p>New York</p>
            </div>
          </div>
          <div class="photo3">
            <img id="img3" src="../img/places/retroCafe.jpg" alt="image3" srcset="" />
            <div class="PhotoFooter3">
              <p>New York3</p>
            </div>
          </div>
          <div class="buttonContainer">
            <div id="nextButton" class="nextButton">
            Next Page
          </div>
          </div>
        </div>
      </div>
    </article>
    <script src="../js/places.js"></script>
  </body>
</html>
